<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container" id="mainContainer">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                    </div>

                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" id="search" placeholder="Search subscriber by phoneNumber">
                    </div>

                    <div class="col-auto">
                        <a class="btn btn-lg btn-success" id="submit">Search</a>
                    </div>

                </div>
                <div class="alert alert-danger" role="alert" style="display: none;" id="warning">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Please enter a valid phone number
                </div>
            </form>
        </div>

    </div>

</div>


</body>
<script>

</script>
</html>
