<div class="row justify-content-center ng-scope">
    <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm ng-pristine ng-valid">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>

                <div class="col">
                    <input class="form-control form-control form-control-borderless" type="search" id="phoneNumber" placeholder="Search subscriber by phone number">
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn btn-success" type="submit" ng-click = "search()">Search</button>
                </div>
                <div class="col-auto">
                <div class="alert alert-dismissible alert-danger" ng-show="error">
                    <strong>Oh snap!</strong> Change the number and try submitting again.
                </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row" style="margin-top: 50px" ng-model="subscriber" ng-if = "subscriber != null">
        <div class="card border-info mb-3" style="width: 20rem;  margin-right: 10px;">
            <div class="card-header">Subscribed services</div>
            <div class="card-body">
                <table class="table table-hover">
                    <tbody>
                    <tr class="table-primary" ng-repeat = "service in subscriber.services">
                        <th scope="row">{{service}}</th>
                    </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <label for="newService">New Service</label>
                    <select class="form-control" id="newService"  ng-model ="service" ng-change = "resetService()">
                        <option ng-repeat="service in telecomServices">{{service.service}}</option>
                    </select>
                </div>
                <div class="alert alert-dismissible alert-success" ng-show = "serviceSuccesss">
                    <strong>{{serviceSuccesss}}</strong>
                </div>
                <div class="alert alert-dismissible alert-danger" ng-show="errorService">
                    <strong>{{errorService}}</strong>
                </div>
                <button class="btn btn btn-success" type="submit" ng-click="newService(service)">Add New</button>
            </div >
        </div>
        <div class="card border-info mb-3" style="width: 20rem;  margin-right: 10px;">
            <div class="card-header">Add invoice</div>
            <div class="card-body">
                <form action="submit" ng-model = "invoice">
                <div class="form-group row">
                    <label for="startDate" class="col-4 col-form-label" >Start Date</label>
                    <div class="col-8">
                        <input class="form-control" ng-change = "invoiceReset()"  type="date"  id="startDate" ng-model ="invoice.startDate">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="endDate" class="col-4 col-form-label" >End Date</label>
                    <div class="col-8">
                        <input class="form-control" ng-change = "invoiceReset()" type="date" id="endDate" ng-model ="invoice.endDate">
                    </div>
                </div>
                    <div class="form-group row">
                        <label for="amount" class="col-4 col-form-label">Amount</label>
                        <div class="col-8">
                            <input class="form-control" ng-change = "invoiceReset()" type="number" ng-model ="invoice.amount" id="amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="services">Services</label>
                        <select class="form-control" id="services" ng-change = "invoiceReset()" ng-model ="invoice.service">
                            <option ng-repeat = "service in subscriber.services">{{service}}</option>
                        </select>
                    </div>
                </form>
                <div class="alert alert-dismissible alert-danger" ng-show="invoiceError">
                    <strong>{{invoiceError}}</strong>
                </div>
                <div class="alert alert-dismissible alert-success" ng-show = "invoiceSuccess">
                    <strong>{{invoiceSuccess}}</strong>
                </div>
                <button class="btn btn btn-success" type="submit" ng-click="addNewInvoice(invoice)">Add New</button>
            </div>
            </div>
        <div class="card border-info mb-3" style="width: 20rem;">
            <div class="card-header">Personal information </div>
            <div class="card-body">
                <table class="table table-hover">
                    <tbody>
                    <tr class="table-primary">
                        <th scope="row">First Name</th>
                        <td>{{subscriber.firstName}}</td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="row">Last Name</th>
                        <td>{{subscriber.lastName}}</td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="row">Phone Number</th>
                        <td id="subscriberPhone">{{subscriber.phoneNumber}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        </div>


    </div>

</div>