<style>
    .payed{
        background-color: rgba(0,0,0,0.80);
    }
</style>
<div class="row justify-content-center ng-scope">
<div class="col-12 col-md-10 col-lg-8">
    <form class="card card-sm ng-pristine ng-valid">
        <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
            </div>
            <div class = "form-group row">
            <div class="col">
                <input class="form-control form-control form-control-borderless" ng-change = "reset()" type="search" id="phoneNumber" ng-model = "phoneNumber" placeholder=" phone number">
            </div>
            <div class="col">
            <select class="form-control" ng-model = "invoiceType" ng-change = "cases()">
                <option>All Invoices</option>
                <option>Payed Invoices</option>
                <option>Unpaid Invoices</option>
            </select>
            </div>
                <div class="col-auto">
                    <button class="btn btn btn-success" type="submit" ng-click = "search()">Search</button>
                </div>
            </div>
            <div id="dates" style="display: none;">
            <div class="form-group row">
                <label for="startDate" class="col-4 col-form-label">Start Date</label>
                <div class="col-8">
                    <input class="form-control"  type="date" id="startDate">
                </div>
            </div>
            <div class="form-group row">
                <label for="endDate" class="col-4 col-form-label">End Date</label>
                <div class="col-8">
                    <input class="form-control"  type="date"  id="endDate">
                </div>
            </div>
            </div>
            <div class="alert alert-dismissible alert-danger" ng-show="message">
                <strong>{{message}}</strong>
            </div>
            <div class="alert alert-dismissible alert-success" ng-show = "success">
                <strong>{{success}}</strong>
            </div>
        </div>
    </form>
</div>
    <div id="invoiceDitails" style="display: none; margin-top: 50px">
        <h1> {{subscriber}} </h1>
        <table  class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Amount</th>
                <th scope="col">Currency</th>
                <th scope="col">Service</th>
                <th scope="col">Payed status</th>
                <th><button class="btn btn btn-success"  type="submit" ng-disabled="checked===false" ng-if="invoiceType!=='Payed Invoices'" ng-click = "paySelected()">Pay all selected</button></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="invoice in invoices" ng-attr-id="{{invoice.id}}" class = "table-danger"  ng-if = "invoice.status === 'Not paid'" ng-class="{ 'payed': checked }">
                <th scope="row"></th>
                <td>{{invoice.amount}}</td>
                <td> <select class="form-control" ng-attr-id="{{custom-invoice.id}}" ng-model = "currency">
                    <option>BGN</option>
                    <option>USD</option>
                    <option>EUR</option>
                </select></td>
                <td>{{invoice.service}}</td>
                <td>{{invoice.status}}</td>
                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="" ng-model = "checked">
                            Pay me
                        </label>
                    </div>
                </td>
                <td><button type="button" class="btn btn-info btn-sm"
                            ng-click="initPay(invoice)">
                    Pay
                    <span class="glyphicon glyphicon-edit"></span>
                </button></td>
            </tr>
            <tr ng-repeat="invoice in invoices" class="table-primary" ng-if = "invoice.status !== 'Not paid'">
                <th scope="row"></th>
                <td>{{invoice.amount}}</td>
                <td>{{invoice.currency}}</td>
                <td>{{invoice.service}}</td>
                <td>{{invoice.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>