<div class="row justify-content-center">

<div class="col-8">
<form ng-submit="submit()">

	<fieldset>
		<legend>Register a new user</legend>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" ng-model = "username"  id="username" ng-change="reset()"  placeholder="Username">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" ng-model = "password" ng-change="reset()"  id="password"  placeholder="Password">
		</div>
		<div class="form-group">
			<label for="confirmPassword">Password</label>
			<input type="password" class="form-control" ng-change="reset()" ng-model = "confirmPassword"  id="confirmPassword"  placeholder="Confirm password">
		</div>
		<div id="client" style="display: none">
			<div class="form-group">
				<label for="eik">EIK</label>
				<input type="text" class="form-control" id="eik" ng-change="reset()"  placeholder="Eik" ng-model = "eik" >
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" class="form-control"  ng-change="reset()" ng-model = "description"  id="description"  placeholder="Short description">
			</div>
		</div>
		<div class="form-group" id="admin" style="display: none">
			<label for="email">Email address</label>
			<input type="email"  ng-change="reset()"  class="form-control" ng-model = "email"  id="email" aria-describedby="emailHelp" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label for="optionSelect">Role</label>
			<select class="form-control" id="optionSelect">
				<option>Admin</option>
				<option>Client</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
		<div class="alert alert-dismissible alert-danger" ng-show="error">
			<strong>{{error}}</strong>
		</div>
		<div class="alert alert-dismissible alert-success" ng-show = "success">
			<strong>{{success}}</strong>
		</div>
	</fieldset>
</form>
</div>
</div>
