<div class="row">
	<div class="col-sm-6">
		<form>
			<fieldset>
				<legend>Egit Admin</legend>
				<div class="form-group">
					<label for="email">Email address</label>
					<input type="email" ng-model = "email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">


				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text"  ng-model = "username" class="form-control" id="username" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password"  ng-model = "password" class="form-control" id="password" placeholder="Password">
				</div>
				<button type="button" class="btn btn-primary btn-lg btn-block" ng-click = "update()">Update</button>
			</fieldset>
		</form>
		</div>
	<div class="col-sm-6">
				<table  class="table table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Username</th>
							<th scope="col">Email</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="admin in admins" class="table-primary">
							<th scope="row"></th>
							<td>{{admin.username}}</td>
							<td>{{admin.email}}</td>
							<td>
								<button type="button" class="btn btn-primary"
									ng-click="initEdit(admin)">
								Edit
									<span class="glyphicon glyphicon-edit"></span>
								</button></td>
							<td>
								<button type="button" class="btn btn-primary"
									ng-click="deleteUser(admin)">
									Delete
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>



