<div class="row">
	<div class="col-sm-6 ">
		<div class="panel panel-default">
			<div class="panel-heading">User</div>
			<div class="panel-body">
				<div class="col-md-12">
					<form ng-submit="submit()" name="userForm" novalidate>

						<div class="form-group"
							ng-class="{ 'has-error': userForm.username.$invalid && userForm.username.$dirty }">
							<label for="username">Username:</label> <input type="text"
								required class="form-control" ng-model="appAdmin.credentials.username"
								id="username" name="username">
						</div>
						<div class="form-group"
							 ng-class="{ 'has-error': userForm.authority.$invalid && userForm.authority.$dirty }">
							<label for="username">Role:</label>
							<input type="text" required class="form-control" ng-model="appAdmin.credentials.authority"
								   id="role" name="role">
						</div>
						<div class="form-group"
							 ng-class="{ 'has-error': userForm.authority.$invalid && userForm.authority.$dirty }">
							<label for="username">Email:</label>
							<input type="text" required class="form-control" ng-model="appAdmin.email"
								   id="email" name="email">
						</div>

						<div class="form-group"
							ng-class="{ 'has-error': userForm.password.$invalid && userForm.password.$dirty }">
							<label for="pwd">Password:</label> <input type="password"
								required class="form-control" id="pwd"
								ng-model="appAdmin.credentials.password" name="password">
						</div>

						<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>

						<button type="submit" class="btn btn-default"
							ng-disabled="userForm.$invalid" ng-click="editUser(user)">Update</button>

					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Admins
			</div>
			<div class="panel-body">

				<div class="alert alert-info margin-top-5" ng-show="deleteMessage">{{deleteMessage}}</div>
				<table  class="table table-striped table-dark">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Username</th>
							<th scope="col">Role</th>
							<th scope="col">Email</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="admin in admins">
							<th scope="row">{{admin.credentials.id}}</th>
							<td>{{admin.credentials.username}}</td>
							<td>{{admin.credentials.authority}}</td>
							<td>{{admin.email}}</td>
							<td><button type="button" class="btn btn-info btn-sm"
									ng-click="initEdit(admin)">
								Edit
									<span class="glyphicon glyphicon-edit"></span>
								</button></td>
							<td>
								<button type="button" class="btn btn-info btn-sm"
									ng-click="deleteUser(admin)">
									Delete
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
