<div class="row">
    <div class="col-sm-6">
        <form>
            <fieldset>
                <legend>Edit Client</legend>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="email" ng-change="reset()" ng-model = "username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username">

                </div>
                <div class="form-group">
                    <label for="eik">Eik</label>
                    <input type="text" ng-change="reset()"  ng-model = "eik" class="form-control" id="EIK" placeholder="eik">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" ng-change="reset()"  ng-model = "description" class="form-control" id="description" placeholder="description">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" ng-change="reset()"  ng-model = "password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="alert alert-dismissible alert-danger" ng-show="error">
                    <strong>{{error}}</strong>
                </div>
                <div class="alert alert-dismissible alert-success" ng-show = "updated">
                    <strong>{{updated}}</strong>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click = "update()">Update</button>
            </fieldset>
        </form>
    </div>

    <div class="col-sm-6">
        <div class="alert alert-dismissible alert-success" ng-show = "deleteMessage">
            <strong>{{deleteMessage}}</strong>
        </div>
                <table  class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Role</th>
                        <th scope="col">eik</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="client in clients" class="table-primary">
                        <th scope="row"></th>
                        <td>{{client.username}}</td>
                        <td>{{client.authority}}</td>
                        <td>{{client.eik}}</td>
                        <td><button type="button" class="btn btn-primary"
                                    ng-click="initEdit(client)"> Edit
                        </button></td>
                        <td>
                            <button type="button" class="btn btn-primary"
                                    ng-click="deleteUser(client)"> Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
    </div>
</div>
