<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:if="${usernameExist}">
        <p class="text text-center">
            Username is already taken
        </p>
    </div>

    <div th:if="${eikExist}">
        <p class="text text-center">
            EIK is invalid or already taken
        </p>
    </div>
    <form id="register-form" th:action="@{/client/register}" th:object="${client}" method="post">
        <label for="username">Username <span>*</span></label>
        <input type="text" class="form-control" id="username" th:field="*{username}" required="required" placeholder="Enter Username">
        <div class="text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

        <label>EIK <span>*</span></label>
        <input type="text" class="form-control" id="eik" th:field="*{eik}" required="required" placeholder="Enter EIK">
        <div class="text text-danger" th:if="${#fields.hasErrors('eik')}" th:errors="*{eik}"></div>

        <label for="password">Password <span>*</span></label>
        <input type="password" class="form-control" th:field="*{password}" id="password" required="required" placeholder="Enter Password">
        <div class="text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

        <button form="register-form" type="submit">REGISTER</button>
    </form>
</body>
</html>