<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
    </head>
    <body>
        <div th:if="${registrationSuccess}">
            <p class="text text-center">
                Registration success!
            </p>
        </div>
        <p th:text="${message}"></p>

        <div th:if="${not #lists.isEmpty(admin)}" >
            <div th:each= "admin : ${admin} ">
                <h1 th:text="${admin.username}"></h1>
                <h2 th:text="${admin.email}"></h2>
                <h3 th:text="${admin.password}"></h3>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(client)}" >
            <div th:each= "client : ${client} ">
                <h1 th:text="${client.username}"></h1>
                <h2 th:text="${client.password}"></h2>
                <h3 th:text="${client.eik}"></h3>
            </div>
        </div>
        <div th:if="${not #lists.isEmpty(user)}" >
            <div th:each= "user : ${user} ">
                <h1 th:text="${user.username}"></h1>
                <h2 th:text="${user.password}"></h2>
                <h3 th:text="${user.role}"></h3>
            </div>
        </div>
    </body>
</html>