<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <style>
            h1,h2,h3,h4,p {
                margin: 0;
                padding: 0;
                display: inline-block;
            }
            span {
                display: block;
            }

        </style>
    </head>
    <body>
        <div th:if="${registrationSuccess}">
            <p class="text text-center">
                Registration success!
            </p>
        </div>
        <p th:text="${message}"></p>

        <div th:if="${not #lists.isEmpty(admin)}" >
            <div th:each= "admin : ${admin} ">
                <h3>Admin id:<p th:text="${admin.id}"></p></h3>
                <span>username: <p th:text="${admin.username}"></p></span>
                <span>password: <p th:text="${admin.password}"></p></span>
                <span>role:<p th:text="${admin.role}"></p></span>
                <span>email<p th:text="${admin.email}"></p></span>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(client)}" >
            <div th:each= "client : ${client} ">
                <h3>Client id:<p th:text="${client.id}"></p></h3>
                <span>username: <p th:text="${client.username}"></p></span>
                <span>password: <p th:text="${client.password}"></p></span>
                <span>role:<p th:text="${client.role}"></p></span>
                <span>Eik: <p th:text="${client.eik}"></p></span>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(user)}" >
            <div th:each= "user : ${user} ">
                <h3>User id:<p th:text="${user.id}"></p></h3>
                <span>username: <p th:text="${user.username}"></p></span>
                <span>password: <p th:text="${user.password}"></p></span>
                <span>role:<p th:text="${user.role}"></p></span>
            </div>
        </div>
    </body>
</html>